node_modules
npm-debug.log
yarn-error.log
.git
.idea
.vscode
dist
dist-ssr
bin
obj
apps/backend/*/bin
apps/backend/*/obj
apps/web-app/dist
*.db
*.db-shm
*.db-wal
tests
coverage
.env*
!.env.example
.vs
.DS_Store
.eslintcache
.vite
