# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Backend
[Bb]in/
[Oo]bj/
*.sqlite
*.db
*.db-shm
*.db-wal
test.db

# Web-App
apps/web-app/dist/
apps/web-app/dist-ssr/
apps/web-app/e2e/test-results/
apps/web-app/e2e/playwright-report/
apps/web-app/playwright-report/
apps/web-app/test-results/

node_modules
dist

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Testing
coverage
.nyc_output

# Environment environments
.env
.env.test
.env.production

# TypeScript
*.tsbuildinfo

# OS
Thumbs.db
