@import 'tailwindcss';

@theme {
  --bg: 255 255 255;
  --box: 255 255 255;
  --border: 229 231 235;
  --sd: 226 232 240 / 0.5;

  /* primary text color */
  --text-primary: 23 37 84;

  /* secondary/muted text, less contrast */
  --text-muted: 23 37 84;

  /* accent text, links or highlights */
  --text-accent: 55 65 81;
}

.dark {
  --bg: 3 7 18;
  --box: 17 24 39;
  --border: 243 244 246 / 0.1;
  --sd: trasparent;
  --text-primary: 255 255 255;
  --text-muted: 243 244 246;
  --text-accent: 209 213 219;
}

@layer utilities {
  .bg {
    background-color: rgb(var(--bg));
  }

  .box {
    background-color: rgb(var(--box));
  }

  .border {
    border-color: rgb(var(--border));
  }

  .sd {
    box-shadow: 0 1px 2px rgb(var(--sd));
  }

  .text-primary {
    color: rgb(var(--text-primary));
  }

  .text-muted {
    color: rgb(var(--text-muted));
  }

  .text-accent {
    color: rgb(var(--text-accent));
  }
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Raleway', sans-serif;
}
